{% extends 'base.html' %}
{% block content %} 
<div class=" container ">
    <div class="row">
        <div class="col-md-4 m-auto nav-right">
            <div class="card text-center">
                <div class="card-body"> 
                    <h2>LogIn</h2> 
                    <form method="post"> 
                    {% csrf_token %} 
                    {{ form.as_p }} 
                    <button type="submit">LogIn</button> 
                    <button type="submit"><a href="{% url 'accounts:signup'%}">SignUp</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</form> 
{% endblock content %}
